# Python
venv/
__pycache__/
.pytest_cache/
.ruff_cache/

# IDE
.idea/
.vscode/

# Runtime output
/data/

# AI agents
.claude/
/context/

# Custom files
/compose.yml
/env.bash
/run.bash

# Extra
.github/
/public/demo/
/public/landing/
/tests/
.gitignore
/compose.example.yml
/env.example.bash
/package.json
/run.bash
